/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}


a {
    color: currentColor;
    text-decoration: none;
}
body{
    background-color: #ffffff;
}


/* HEADER */

header {
    background-color: rgb(161, 24, 19);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 2rem;
    color: #ffffff;
  }
  
  header > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
/* NAVBAR */

  nav {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* FOOTER */
  footer {
    background-color: rgb(78, 7, 5);
    color: #ffffff;
    padding: 30px;
    justify-content: center;
    display: flex;
  }

  footer div{
    background-color: rgb(172, 54, 54);
    padding:10px;
    border-radius: 5px;
    max-width: 200px;
    display:flex;
    justify-content: center;
  }

  main{
    min-height: 100vh;
  }